extends layout

block layout-content
  .form-style-2
    .form-style-2-heading Write info
    form(action='/' method='post')
      label(for='companyNameList')
        span
          | Company List 
          span.required *
        textarea.textarea-field(id='companyNameList' name='companyNameList')
      label(for='drugNameList')
        span
          | Drug List 
          span.required *
        textarea.textarea-field(id='drugNameList' name='drugNameList')
      label(for='numberResult')
        span
          | Number links
          span.required *
        input.input-field(type='number' id='numberResult' name='numberResult')
      label
        span  
        input(type='submit' onclick='return validateFrom()' value='Get Info')